<!DOCTYPE html>
<html>
  <head>
    <title>IoT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="600">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">


    <link href="bower_components/patternfly/dist/css/patternfly.min.css" rel="stylesheet" media="screen, print">
    <link href="bower_components/patternfly/dist/css/patternfly-additions.min.css" rel="stylesheet" media="screen, print">
    <link rel="stylesheet" href="styles.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/patternfly/dist/js/patternfly.min.js"></script>
    <script src="bower_components/patternfly-timeline/src/timeline.js"></script>
    <script src="bower_components/c3/c3.min.js"></script>
    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/moment-timezone/moment-timezone.js"></script>
    <script src="bower_components/matchHeight/jquery.matchHeight-min.js"></script>
    <script src="myscripts.js"></script>

  </head>

  <body>

    <script>
    $(document).ready(function() {
      $('#menu').load('/nav');
      $('#btn_dashboard').removeClass('active');
      $('#btn_furnace').addClass('active');
      $('#btn_temperatures').removeClass('active');

      $('#widget1').load('loading.html');
      $("#widget1").load("/gfurnace?title=Furnace&hours=24");
    });


    </script>

<div id="menu"></div>


<div class="container-fluid container-cards-pf">
  <div class="row row-cards-pf">
    <div id="widget1" class="card-pf-body"></div>
  </div>
</div>


<script>
$(document).ready(function() {
// matchHeight the contents of each .card-pf and then the .card-pf itself

$(".row-cards-pf > [class*='col'] > .card-pf .card-pf-title").matchHeight();
$(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
$(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-footer").matchHeight();
$(".row-cards-pf > [class*='col'] > .card-pf").matchHeight();


// initialize tooltips
$('[data-toggle="tooltip"]').tooltip();


// Initialize the vertical navigation
$().setupVerticalNavigation(false);
});
</script>

</body>
</html>
