

<div class="col-xs-12 col-sm-4 col-md-4">
  <div class="card-pf card-pf-accented">
      <div class="card-pf-heading">
        <h2 class="card-pf-title">
          <img src="images/weather/<%= weathericon %>.png"> <%= title %>
        </h2>
        <p class="card-pf-utilization-details">

            <span class="card-pf-utilization-card-details-description">
              current conditions : <%= weathertext %>
            </span>
        </p>
      </div>

    <div class="card-pf-body">
      <div id="<%= id %>"></div>
</br>
      <script>
      var chart = c3.generate({
        bindto: '#<%= id %>',
        data: {
          columns: [
            [ 'data', <%= temperature %>]
          ],
          type: 'gauge'
        },
        gauge: {
          label: {
                  format: function(value, ratio) {
                              return Math.round(value * 10) / 10 + " ℃";
                  },
                  extents: function (value, isMax) {
                      return value;
                  },
                show: false // to turn off the min/max labels.
          },
                min: -40, // 0 is default, //can handle negative min e.g. vacuum / voltage / current flow / rate of change
                max: 40, // 100 is default
                units: 'Celcius',
                width: 60 // for adjusting arc thickness
        },
        color: {
          pattern: ['#0d00ff', '#00e0ff' , '#00f6c2', '#faff00', '#ff3600'], // the three color levels for the percentage values.
          threshold: {
                unit: 'value', // percentage is default
                max: 40, // 100 is default
            values: [-20, -12,  5 , 12, 25] // alternate first value is 'value'
          }
        }
      });
      </script>

      <div id="<%= id %>-2" class="chart-pf-sparkline"></div>
      <div>Last 5 days...</div>
      <script>
        var sdata = <%= sparkline %>;
        sdata.push('&#8451;');
        var ssdata = reverseArr(sdata);
        var asdata = [];
        asdata.push(ssdata);
        var c3ChartDefaults = $().c3ChartDefaults();
        var sparklineChartConfig = c3ChartDefaults.getDefaultSparklineConfig();
        sparklineChartConfig.bindto = '#<%= id %>-2';
        sparklineChartConfig.data = {
          columns: asdata,
          type: 'area'
        };
        var sparklineChart = c3.generate(sparklineChartConfig);
      </script>


    </div>
    <div class="card-pf-footer">
      <p><a href="https://www.theweathernetwork.com/ca/weather/ontario/milford">Milford - weather network link</a></p>
    </div>
  </div>
</div>
