<!DOCTYPE html>
<html>
  <head>
    <title>IoT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="600">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">


    <link href="bower_components/patternfly/dist/css/patternfly.min.css" rel="stylesheet" media="screen, print">
    <link href="bower_components/patternfly/dist/css/patternfly-additions.min.css" rel="stylesheet" media="screen, print">
    <link rel="stylesheet" href="styles.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/patternfly/dist/js/patternfly.min.js"></script>
    <script src="bower_components/patternfly-timeline/src/timeline.js"></script>
    <script src="bower_components/c3/c3.min.js"></script>
    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/moment-timezone/moment-timezone.js"></script>
    <script src="bower_components/matchHeight/jquery.matchHeight-min.js"></script>
    <script src="myscripts.js"></script>

  </head>

  <body>

    <script>
    $(document).ready(function() {

      $('#menu').load('/nav');
      $('#btn_dashboard').addClass('active');
      $('#btn_furnace').removeClass('active');
      $('#btn_temperatures').removeClass('active');

      $('#widget1').load('loading.html');
      $('#widget2').load('loading.html');
      $('#widget3').load('loading.html');
      $('#widget4').load('loading.html');


      $("#widget1").load("/gCurTemp?device_id=Lennox&title=Furnace&varname=Indoor_Temp");
      $("#widget2").load("/gCurTemp?device_id=1a0043000f51353338363333&title=Livingroom&varname=Data");
      $("#widget3").load("/gCurTemp?device_id=29005c000a51353335323535&title=Basement&varname=Data");
      $("#widget4").load("/gCurWeather?device_id=accuweather_milford&title=Milford&varname=Temperature&varname2=WeatherText");

    });
    </script>


<div id="menu"></div>


<div class="container-fluid container-cards-pf">
  <div class="card-pf card-pf-utilization">
    <div class="card-pf-heading">
      <p class="card-pf-heading-details">Current values</p>
      <h2 class="card-pf-title">
        Temperature monitoring
      </h2>
    </div>

  <div class="row row-cards-pf">
    <div id="widget1" class="card-pf-body"></div>
    <div id="widget2" class="card-pf-body"></div>
    <div id="widget3" class="card-pf-body"></div>
  </div>
</div>


  <div class="row row-cards-pf">
    <div id="widget4" class="card-pf-body"></div>
    <div id="widget5" class="card-pf-body"></div>
  </div>
</div>


<script>
$(document).ready(function() {
// matchHeight the contents of each .card-pf and then the .card-pf itself

$(".row-cards-pf > [class*='col'] > .card-pf .card-pf-title").matchHeight();
$(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
$(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-footer").matchHeight();
$(".row-cards-pf > [class*='col'] > .card-pf").matchHeight();


// initialize tooltips
$('[data-toggle="tooltip"]').tooltip();


// Initialize the vertical navigation
$().setupVerticalNavigation(false);
});
</script>

</body>
</html>
