<!DOCTYPE html>
<html>
  <head>
    <title>IoT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles.css">

    <!-- PatternFly Styles -->
    <link href="bower_components/patternfly/dist/css/patternfly.min.css" rel="stylesheet" media="screen, print">
    <link href="bower_components/patternfly/dist/css/patternfly-additions.min.css" rel="stylesheet" media="screen, print">

    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- PatternFly -->
    <script src="bower_components/patternfly/dist/js/patternfly.min.js"></script>

  </head>

  <body>


    <script src="bower_components/c3/c3.min.js"></script>
    <script src="bower_components/d3/d3.min.js"></script>

<H1>LENNOX Graph</H1>

    <div id="line-chart-3" class="line-chart-pf"></div>
    <script>

      var c3ChartDefaults = $().c3ChartDefaults();

            var chart = c3.generate({
              axis: {
                x: {
                  tick: {
                    format: '%m-%d %H:%M',
                    outer: false
                  },
                  type: 'timeseries'
                },
                y: {
                  tick: {
                    format: function(d) { return d + ""; },
                    outer: false
                  }
                }
              },
              bindto: '#line-chart-3',
              color: c3ChartDefaults.getDefaultColors(),
              data: {
                xFormat: '%Y-%m-%d %H:%M:%S',
                columns: [
                //  ['x', '2015-04-01', '2015-04-02', '2015-04-03', '2015-04-04', '2015-04-05', '2015-04-06', '2015-04-07'],
                ['x'<% data.forEach(function(docs) { %>
                ,'<%= docs.Time %>'
                <% }); %>],
                ['Indoor_Temp'<% data.forEach(function(docs) { %>
                ,'<%= docs.Indoor_Temp %>'
                <% }); %>],
                ['Indoor_Humidity'<% data.forEach(function(docs) { %>
                ,'<%= docs.Indoor_Humidity %>'
                <% }); %>]
                ],
                x: 'x'
              },
              grid: {
                y: {
                  show: true
                }
              },
              legend: {
                hide: false
              },
              point: {
                r: 0
              },
              size: {
                height: 320
              }
            });



    </script>


  </body>
</html>
